{
	default_sni 167.172.170.154
	servers {
		protocols h1 h2
	}
}

167.172.170.154 {
	tls {
		issuer acme {
			profile shortlived
		}
	}

	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		-Server
	}

	reverse_proxy 127.0.0.1:51011 {
		transport http {
			dial_timeout 5s
			response_header_timeout 30s
		}
	}

	log {
		format json
	}
}
